PIN "Inst_clock_module/Inst_24to66MHz/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
# PIN "Inst_clock_module/CK24M_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;

#NET "clk48" period = 14.706 ns High 50%;
NET "clk_sys" LOC = AB13 |IOSTANDARD = LVCMOS33;

NET "ft1data[15]" LOC = D14 |IOSTANDARD = LVCMOS33;
NET "ft1data[14]" LOC = B14 |IOSTANDARD = LVCMOS33;
NET "ft1data[13]" LOC = C14 |IOSTANDARD = LVCMOS33;
NET "ft1data[12]" LOC = A13 |IOSTANDARD = LVCMOS33;
NET "ft1data[11]" LOC = C13 |IOSTANDARD = LVCMOS33;
NET "ft1data[10]" LOC = B12 |IOSTANDARD = LVCMOS33;
NET "ft1data[9]"  LOC = C10 |IOSTANDARD = LVCMOS33;
NET "ft1data[8]"  LOC = A11 |IOSTANDARD = LVCMOS33;
NET "ft1data[7]"  LOC = C9  |IOSTANDARD = LVCMOS33;
NET "ft1data[6]"  LOC = A9  |IOSTANDARD = LVCMOS33;
NET "ft1data[5]"  LOC = C6  |IOSTANDARD = LVCMOS33;
NET "ft1data[4]"  LOC = A6  |IOSTANDARD = LVCMOS33;
NET "ft1data[3]"  LOC = B6  |IOSTANDARD = LVCMOS33;
NET "ft1data[2]"  LOC = A5  |IOSTANDARD = LVCMOS33;
NET "ft1data[1]"  LOC = C5  |IOSTANDARD = LVCMOS33;
NET "ft1data[0]"  LOC = A4  |IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 
#ft600
NET "ft1BE[0]" 		LOC = D10 |IOSTANDARD = LVCMOS33;
NET "ft1BE[1]" 		LOC = D9  |IOSTANDARD = LVCMOS33;
NET "ft1OE_N" 		LOC = C7  |IOSTANDARD = LVCMOS33;
NET "ft1RD_N" 		LOC = A7  |IOSTANDARD = LVCMOS33;
NET "ft1SIWU_N" 	LOC = A8  |IOSTANDARD = LVCMOS33;
NET "ft1TXE_N" 		LOC = D8  |IOSTANDARD = LVCMOS33;
NET "ft1RXF_N" 		LOC = B8  |IOSTANDARD = LVCMOS33;
NET "ft1WR_N" 		LOC = D7  |IOSTANDARD = LVCMOS33;
NET "ft1RESET" 		LOC = F1  |IOSTANDARD = LVCMOS33;#
NET "ft1clk_fifo" 	LOC = B10 |IOSTANDARD = LVCMOS33;
NET "ft1clk_fifo" CLOCK_DEDICATED_ROUTE = FALSE;
#FT600_1
NET "ft0data[15]" LOC = AB8  |IOSTANDARD = LVCMOS33;
NET "ft0data[14]" LOC = AA8  |IOSTANDARD = LVCMOS33;
NET "ft0data[13]" LOC = AB9  |IOSTANDARD = LVCMOS33;
NET "ft0data[12]" LOC = AB10 |IOSTANDARD = LVCMOS33;
NET "ft0data[11]" LOC = AA10 |IOSTANDARD = LVCMOS33;
NET "ft0data[10]" LOC = AB11 |IOSTANDARD = LVCMOS33;
NET "ft0data[9]"  LOC = AB12 |IOSTANDARD = LVCMOS33;
NET "ft0data[8]"  LOC = AA12 |IOSTANDARD = LVCMOS33;
NET "ft0data[7]"  LOC = AB6  |IOSTANDARD = LVCMOS33;
NET "ft0data[6]"  LOC = AA6  |IOSTANDARD = LVCMOS33;
NET "ft0data[5]"  LOC = AB7  |IOSTANDARD = LVCMOS33;
NET "ft0data[4]"  LOC = W11  |IOSTANDARD = LVCMOS33;
NET "ft0data[3]"  LOC = V3   |IOSTANDARD = LVCMOS33;
NET "ft0data[2]"  LOC = W3   |IOSTANDARD = LVCMOS33;
NET "ft0data[1]"  LOC = Y2   |IOSTANDARD = LVCMOS33;
NET "ft0data[0]"  LOC = V2   |IOSTANDARD = LVCMOS33;

NET "ft0BE[0]" 		LOC = AA4 |IOSTANDARD = LVCMOS33;
NET "ft0BE[1]" 		LOC = AB4 |IOSTANDARD = LVCMOS33;
NET "ft0OE_N" 		LOC = U1  |IOSTANDARD = LVCMOS33;
NET "ft0RD_N" 		LOC = V1  |IOSTANDARD = LVCMOS33;
NET "ft0SIWU_N" 	LOC = Y1  |IOSTANDARD = LVCMOS33;
NET "ft0TXE_N" 		LOC = AA2 |IOSTANDARD = LVCMOS33;
NET "ft0RXF_N" 		LOC = AB2 |IOSTANDARD = LVCMOS33;
NET "ft0WR_N" 		LOC = W1  |IOSTANDARD = LVCMOS33;
NET "ft0RESET" 		LOC = T1  |IOSTANDARD = LVCMOS33;#
NET "ft0clk_fifo" 	LOC = Y11 |IOSTANDARD = LVCMOS33;
NET "ft0clk_fifo" CLOCK_DEDICATED_ROUTE = FALSE;
#SN65LV1224_4(SN65LV1224_0)
NET "snLOCK_4" 		LOC = C19 |IOSTANDARD = LVCMOS33;
NET "snRCLK_4" 		LOC = J20 |IOSTANDARD = LVCMOS33;
NET "snREFCLK_4" 	LOC = F18 |IOSTANDARD = LVCMOS33;
NET "snRCLK_4" CLOCK_DEDICATED_ROUTE = FALSE;

NET "snDATA_4[0]" LOC = F21 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[1]" LOC = E22 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[2]" LOC = D22 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[3]" LOC = C22 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[4]" LOC = C20 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[5]" LOC = B20 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[6]" LOC = B22 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[7]" LOC = B21 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[8]" LOC = A21 |IOSTANDARD = LVCMOS33;
NET "snDATA_4[9]" LOC = A20 |IOSTANDARD = LVCMOS33;


#SN65LV1224_3(SN65LV1224_1)
NET "snLOCK_3"		LOC = G19 |IOSTANDARD = LVCMOS33;
NET "snRCLK_3"		LOC = K20 |IOSTANDARD = LVCMOS33;
NET "snREFCLK_3" 	LOC = H19 |IOSTANDARD = LVCMOS33;
NET "snRCLK_3" CLOCK_DEDICATED_ROUTE = FALSE;

NET "snDATA_3[0]" LOC = L20 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[1]" LOC = K22 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[2]" LOC = K21 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[3]" LOC = H22 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[4]" LOC = H21 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[5]" LOC = H17 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[6]" LOC = G20 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[7]" LOC = G22 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[8]" LOC = F22 |IOSTANDARD = LVCMOS33;
NET "snDATA_3[9]" LOC = F20 |IOSTANDARD = LVCMOS33;

#SN65LV1224_2(SN65LV1224_2)
NET "snLOCK_1" 		LOC = M18 |IOSTANDARD = LVCMOS33;
NET "snRCLK_1" 		LOC = K19 |IOSTANDARD = LVCMOS33;
NET "snREFCLK_1" 	LOC = P19 |IOSTANDARD = LVCMOS33;
NET "snRCLK_1" CLOCK_DEDICATED_ROUTE = FALSE;

NET "snDATA_1[0]" LOC = R20 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[1]" LOC = R22 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[2]" LOC = P22 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[3]" LOC = P21 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[4]" LOC = N22 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[5]" LOC = N19 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[6]" LOC = N20 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[7]" LOC = M22 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[8]" LOC = M20 |IOSTANDARD = LVCMOS33;
NET "snDATA_1[9]" LOC = L22 |IOSTANDARD = LVCMOS33;

#SN65LV1224_1(SN65LV1224_3)
NET "snLOCK_0"		LOC = T20 |IOSTANDARD = LVCMOS33;
NET "snRCLK_0"		LOC = L19 |IOSTANDARD = LVCMOS33;
NET "snREFCLK_0" 	LOC = AA21 |IOSTANDARD = LVCMOS33;
NET "snRCLK_0" CLOCK_DEDICATED_ROUTE = FALSE;

NET "snDATA_0[0]" LOC = AB21 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[1]" LOC = W22 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[2]" LOC = W20 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[3]" LOC = V21 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[4]" LOC = V22 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[5]" LOC = U20 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[6]" LOC = M17 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[7]" LOC = T19 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[8]" LOC = T21 |IOSTANDARD = LVCMOS33;
NET "snDATA_0[9]" LOC = T22 |IOSTANDARD = LVCMOS33;

#SN65LV1224_0(SN65LV1224_4)
NET "snLOCK_2" 		LOC = AB14 |IOSTANDARD = LVCMOS33;
NET "snRCLK_2" 		LOC = Y13 |IOSTANDARD = LVCMOS33;
NET "snREFCLK_2" 	LOC = AA14 |IOSTANDARD = LVCMOS33;
NET "snRCLK_2" CLOCK_DEDICATED_ROUTE = FALSE;

NET "snDATA_2[0]" LOC = AB15 |IOSTANDARD = LVCMOS33;
NET "snDATA_2[1]" LOC = Y15  |IOSTANDARD = LVCMOS33;
NET "snDATA_2[2]" LOC = AB16 |IOSTANDARD = LVCMOS33;
NET "snDATA_2[3]" LOC = AA16 |IOSTANDARD = LVCMOS33;
NET "snDATA_2[4]" LOC = AB17 |IOSTANDARD = LVCMOS33;
NET "snDATA_2[5]" LOC = Y17  |IOSTANDARD = LVCMOS33;
NET "snDATA_2[6]" LOC = AB18 |IOSTANDARD = LVCMOS33;
NET "snDATA_2[7]" LOC = AA18 |IOSTANDARD = LVCMOS33;
NET "snDATA_2[8]" LOC = AB19 |IOSTANDARD = LVCMOS33;
NET "snDATA_2[9]" LOC = Y19  |IOSTANDARD = LVCMOS33;

#SN65LV1224_7(SN65LV1224_5)
NET "snLOCK_7" 		LOC = M3 |IOSTANDARD = LVCMOS33;
NET "snRCLK_7" 		LOC = K4 |IOSTANDARD = LVCMOS33;
NET "snREFCLK_7" 	LOC = M8 |IOSTANDARD = LVCMOS33;
NET "snRCLK_7" CLOCK_DEDICATED_ROUTE = FALSE;

NET "snDATA_7[0]" LOC = K3 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[1]" LOC = K8 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[2]" LOC = K7 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[3]" LOC = L6 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[4]" LOC = L3 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[5]" LOC = L1 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[6]" LOC = M6 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[7]" LOC = M5 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[8]" LOC = M1 |IOSTANDARD = LVCMOS33;
NET "snDATA_7[9]" LOC = M2 |IOSTANDARD = LVCMOS33;

#SN65LV1224_6(SN65LV1224_6)
NET "snLOCK_6" 		LOC = J6 |IOSTANDARD = LVCMOS33;
NET "snRCLK_6" 		LOC = K5 |IOSTANDARD = LVCMOS33;
NET "snREFCLK_6" 	LOC = H4 |IOSTANDARD = LVCMOS33;
NET "snRCLK_6" CLOCK_DEDICATED_ROUTE = FALSE;

NET "snDATA_6[0]" LOC = G7 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[1]" LOC = G1 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[2]" LOC = H5 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[3]" LOC = H3 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[4]" LOC = H6 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[5]" LOC = H2 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[6]" LOC = H1 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[7]" LOC = J3 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[8]" LOC = J1 |IOSTANDARD = LVCMOS33;
NET "snDATA_6[9]" LOC = K2 |IOSTANDARD = LVCMOS33;

#SN65LV1224_5(SN65LV1224_7)
NET "snLOCK_5" 		LOC = D15 |IOSTANDARD = LVCMOS33;
NET "snRCLK_5" 		LOC = A10 |IOSTANDARD = LVCMOS33;
NET "snREFCLK_5" 	LOC = D17 |IOSTANDARD = LVCMOS33;
NET "snRCLK_5" CLOCK_DEDICATED_ROUTE = FALSE;

NET "snDATA_5[0]" LOC = B18 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[1]" LOC = A18 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[2]" LOC = A17 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[3]" LOC = C17 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[4]" LOC = A16 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[5]" LOC = B16 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[6]" LOC = C16 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[7]" LOC = A15 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[8]" LOC = C15 |IOSTANDARD = LVCMOS33;
NET "snDATA_5[9]" LOC = A14 |IOSTANDARD = LVCMOS33;

#serial_4(serial_0)
NET "SCK4" LOC = "G17" |IOSTANDARD = LVCMOS33;#P.  F16
NET "SD4"  LOC = "G16" |IOSTANDARD = LVCMOS33;#N£¡ G17
NET "SL4"  LOC = "F17" |IOSTANDARD = LVCMOS33;#N.  F17
#serial_3(serial_1)
NET "SCK3" LOC = "J16" |IOSTANDARD = LVCMOS33;#P.    J17
NET "SD3"  LOC = "K16" |IOSTANDARD = LVCMOS33;#N£¡   J16
NET "SL3"  LOC = "K17" |IOSTANDARD = LVCMOS33;#N.    K17
#serial_2(serial_2)
NET "SCK1" LOC = "N16" |IOSTANDARD = LVCMOS33;#P.      L17
NET "SD1"  LOC = "P17" |IOSTANDARD = LVCMOS33;#N£¡     N16
NET "SL1"  LOC = "K18" |IOSTANDARD = LVCMOS33;#N.      K18
#serial_1(serial_3)
NET "SCK0" LOC = "R19" |IOSTANDARD = LVCMOS33;#P.     U19
NET "SD0"  LOC = "P18" |IOSTANDARD = LVCMOS33;#N£¡    R19
NET "SL0"  LOC = "V20" |IOSTANDARD = LVCMOS33;#N.     V20
#serial_0(serial_4)
NET "SCK2" LOC = "U14" |IOSTANDARD = LVCMOS33;#P.      Y3
NET "SD2"  LOC = "U13" |IOSTANDARD = LVCMOS33;#N!      U13
NET "SL2"  LOC = "Y3"  |IOSTANDARD = LVCMOS33;#N.      AB3
#serial_7(serial_5)
NET "SCK7" LOC = "D2" |IOSTANDARD = LVCMOS33;#P.     E3
NET "SD7"  LOC = "D1" |IOSTANDARD = LVCMOS33;#N£¡    D1
NET "SL7"  LOC = "E3" |IOSTANDARD = LVCMOS33;#N.     E1
#serial_6(serial_6)
NET "SCK6" LOC = "A2" |IOSTANDARD = LVCMOS33;#P.      B2
NET "SD6"  LOC = "B3" |IOSTANDARD = LVCMOS33;#N£¡     B3
NET "SL6"  LOC = "B2" |IOSTANDARD = LVCMOS33;#N.      B1
#serial_5(serial_7)
NET "SCK5" LOC = "H14" |IOSTANDARD = LVCMOS33;#P.      E14
NET "SD5"  LOC = "F14" |IOSTANDARD = LVCMOS33;#N£¡     H14
NET "SL5"  LOC = "F15" |IOSTANDARD = LVCMOS33;#N.      F15
#FAN heater2
NET "ctrl_fan" LOC = H16 |IOSTANDARD = LVCMOS33;
NET "heater1"  LOC = F2  |IOSTANDARD = LVCMOS33;
#NET "heater2" LOC = F1 |IOSTANDARD = LVCMOS33;
#RS232
NET "rxd" LOC = C12 |IOSTANDARD = LVCMOS33;#
#Power for SPB
NET "PWRUP[0]" LOC = D19 | IOSTANDARD = LVCMOS33;
NET "PWRUP[1]" LOC = T17 | IOSTANDARD = LVCMOS33;
NET "PWRUP[2]" LOC = T18 | IOSTANDARD = LVCMOS33;
NET "PWRUP[3]" LOC = V15 | IOSTANDARD = LVCMOS33;
NET "PWRUP[4]" LOC = D12 | IOSTANDARD = LVCMOS33;
NET "PWRUP[5]" LOC = E5  | IOSTANDARD = LVCMOS33;
NET "PWRUP[6]" LOC = F3  | IOSTANDARD = LVCMOS33;
NET "PWRUP[7]" LOC = V11 | IOSTANDARD = LVCMOS33;
#LED
NET "led[0]" LOC = D20 |IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = M19 |IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = K1  |IOSTANDARD = LVCMOS33;

#cmd
# NET "SL"  LOC = U19 | IOSTANDARD = LVCMOS33;#"Y3" 
# NET "SCK" LOC = V20 | IOSTANDARD = LVCMOS33;#"U14"
# NET "SD"  LOC = R19 | IOSTANDARD = LVCMOS33;#"U13"